.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 60px;

  li {
    color: #fe5f1e;
    border: 1px solid #fe5f1e;
    border-radius: 50px;

    a {
      font-weight: 700;
      width: 36px;
      height: 36px;
      display: flex;
			border-radius: 50px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.1s ease;

      &:hover {
        color: #fff;
        background-color: #fe5f1e;
      }
    }

    &.selected {
      color: #fff;
      background-color: #fe5f1e;
    }
  }

  .previous {
    margin-right: 6px;
  }

  .next {
    margin-left: 6px;
  }
}
