@font-face {
  font-family: 'Proxima Nova';
  src: url('../../public/fonts/ProximaNova-Extrabld.woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../public/fonts/ProximaNova-Bold.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../public/fonts/ProximaNova-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../public/fonts/ProximaNova-Black.woff');
  font-weight: 800;
  font-style: normal;
}
